<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} Afandi Blog {% endblock %} - Afandi Blog</title>
    
    {% block stylesheet %} {% endblock %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            {% block navbar %} {% endblock %}
        </div>
        <!-- /.container -->
    </nav>
    
    {% block header %} {% endblock %}
    
    <!-- Main Content -->
    <div class="container">
        {% block body %} {% endblock %}
    </div>
    
    <hr>
    
    {% block footer %} {% endblock %}

    {% block javascript %}  {% endblock %}

</body>

</html>
